
body {
  margin: 0;
  background-color: rgb(245, 237, 227);
}

.page-label {
  text-align: center;
}

* {
  box-sizing: border-box;
}

#root {
  place-items: center;
  width: 100%;
}

.nav {
  background-color: rgb(62, 138, 197);
  padding: 10px;
  width: 100%;
  font-size: larger;
  color:white;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
}

.todo {
  background-color: white;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  /* border: 2px solid black; */
}

.create-task {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

input {
  margin: 0 0 10px 0;
}

.hidden {
  display: none;
}
